* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdf6e3;
  color: gray;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

/* 外框的css */
.wrapper {
  width: 450px;
  padding: 30px;
  background-color:#fff8e1;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* 輸入框 */
.create-form{
  height: 40px;
  width: 100%;
  margin: 25px 0px;
  border: 1px solid  #f0c36d;
  display: flex;
}
.create-form > input {
  outline: none;
  border: none;
  background: #fff8e1;
  color: black;
  width: 100%;
  height: 100%;
  padding-left: 10px;

}

.create-form > button {
  border: none;
  background-color: #f0c36d;
  color: rgb(80, 76, 76);
  width: 50px;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.create-form > button:hover {
  background-color: #e6b65c;
}

.todo {
  background-color:  #fff3b0;
  height: 40p;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}